<form action="/add" method="POST">
    <div class="form-group">
        <label for="titulo">Titulo: </label>
        <input name="titulo" type="text" class="form-control" id="titulo">
    </div>

    <div class="form-group">
        <label for="conteudo">Conteúdo:</label>
        <textarea name="conteudo" class="form-control" id="conteudo" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar postagem</button>
    <a href="/" class="btn btn-primary">Voltar</a>
</form>